.dialogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.messages {
  color: rgb(0, 128, 255);

}

.dialogsItems a{
  color: goldenrod;
  text-decoration: none;
}

.dialogsItems a.active {
  color: rgb(218, 32, 134);
}
