
.nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 20px;

  }
.item a {
    color:rgb(59, 0, 253);
    text-decoration: none;
}
.item a.active {
  color: rgb(218, 32, 134);
}

.users{
  padding-top: 40px;
}